
<!DOCTYPE html>

<html lang="es">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> Fundamentos de Programación </title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
        <script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
	</head>

	<body>
		<div class="container">
			<header>
				<nav id="barra" class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
								<span class="sr-only">Menu</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#"><img src="images/logo.png" alt="Fundamentos de Programación"></a>
						</div>
						<div class="collapse navbar-collapse" id="navbar-1">
							<ul class="nav navbar-nav navbar-right">
								<li> <a href="index.html">Inicio</a> </li>
								<li class="dropdown active"> 
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Curso<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="#">Información</a></li>
										<li><a href="#">Planificación</a></li>
										<li><a href="#" id="sandbox">Sandbox</a></li>
										<li><a href="#"> Iniciar sesión </a></li>
									</ul>
								</li>
								<li> <a href="#">Ayudantias</a> </li>
								<li> <a href="equipo.html">Equipo</a> </li>
								<li id="perfil"></li>							
								<li>
								    <a href="#" class="login" data-toggle="modal" data-target="#myModal">
								        <span id="icon" class="glyphicon glyphicon-log-in"></span>
								        <span id="texto"> Iniciar sesión </span>
								    </a>
								</li> 
							</ul>
						</div>
					</div>
				</nav>
			</header>
			
			
			<footer>
				<div class="container2">
					<div class="row">
						<div class="col-lg-4">
							<div class="widget">
								<h5 class="widgetheading">Get in touch with us</h5>
								<address>
								<strong>Moderna company Inc</strong><br>
								 Modernbuilding suite V124, AB 01<br>
								 Someplace 16425 Earth </address>
								<p>
									<i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891 <br>
									<i class="icon-envelope-alt"></i> email@domainname.com
								</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="widget">
								<h5 class="widgetheading">Pages</h5>
								<ul class="link-list">
									<li><a href="#">Press release</a></li>
									<li><a href="#">Terms and conditions</a></li>
									<li><a href="#">Privacy policy</a></li>
									<li><a href="#">Career center</a></li>
									<li><a href="#">Contact us</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="widget">
								<h5 class="widgetheading">Latest posts</h5>
								<ul class="link-list">
									<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
									<li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
									<li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div id="sub-footer">
					<div class="container2">
						<div class="row">
							<div class="col-lg-6">
								<div class="copyright">
									<P>Guayaquil, Ecuador</p>
									<p>© Escuela Superior Politecnica del Litoral. All right reserved.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<script src="js/lcStorage.js"></script>

	</body>

</html>
